<%- include("partials/head.ejs") %>
<%- include("partials/nav.ejs") %>

    <hr>
        <h1><%= title %></h1>
    <hr>

    <main id="contenedor-get">
        <section class="seccion-productos">
            <!--<label for="orden">Ordenar por:</label>
            <select id="orden">
            <option value="">Seleccionar</option>
            <option value="az">Nombre A-Z</option>
            <option value="za">Nombre Z-A</option>
            <option value="precio-asc">Precio más bajo</option>
            <option value="precio-desc">Precio más alto</option>
            </select>-->

            <div id="productos-container">
                <ul id="productos-lista">
    
                    <% products.forEach(prod => {  %>

                        <li class="li-listados productos-listados">
                            <img src=" <%= prod.image %> " alt=" <%= prod.name %> " class="img-listados">
                            <h3><%= prod.name %></h3>
                            <p><strong>$<%= prod.price %></strong></p>
                            <button onclick='agregarAlCarrito(<%- JSON.stringify(prod) %>)'>Agregar a carrito</button>
                        </li> 

                    <% }) %>
                </ul>
            </div>
            <nav class="paginacion">
                <% if (page > 1) { %>
                    <div class="navBlock"><a href="?page=<%= page - 1 %>">&lt; Anterior</a></div>
                <% } else {%>
                    <div class="navBlock" style="visibility:hidden;">&lt; Anterior</div>
                <% }%>

                <div class="navBlock numbers">
                <% for (let i = 1; i <= pages; i++) { %>
                    <% if (i === page) { %>
                    <strong><%= i %></strong>
                    <% } else { %>
                    <a href="?page=<%= i %>"><%= i %></a>
                    <% } %>
                <% } %>
                </div>

                <% if (page < pages) { %>
                    <div class="navBlock"><a href="?page=<%= page + 1 %>">Siguiente &gt;</a></div>
                <% } else {%>
                    <div class="navBlock" style="visibility:hidden;">Siguiente &gt;</div>
                <% }%>
            </nav>
        </section>
        <section class="seccion-carrito">
            <hr>
            <h2 class="titulo-carrito">Carrito</h2>
            <hr>
            <div id="carrito-container"></div>
        </section>
    </main>
<script src="/js/carrito.js" defer></script>

<%- include("partials/footer.ejs") %>